# Database connection URI
MONGO_URI=your_mongodb_connection_string

# JWT Token configuration
JWT_SECRET=your_jwt_secret_key_here

# Backend Port
PORT=5001

# Admin Security Keys
ADMIN_SECRET_CODE=your_admin_secret_code_here

# SMTP Email Configuration (Nodemailer)
EMAIL_HOST=your_smtp_host
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your_smtp_username
EMAIL_PASS=your_smtp_password
EMAIL_FROM=your_sender_email@example.com

# Frontend URL (Used to generate email verification links)
FRONTEND_URL=your_frontend_url
